@charset "ISO-8859-1";

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	color: #fff;
}

body {
	background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,77,121,1) 46%, rgba(0,212,255,1) 100%);
	width: 100vw;
	height: 100vh;
	display: flex;
	position:relative;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#exampleInputEmail1{
	width: 100%;
}

div.main{
	background: rgba(0,0,0, 0.5);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items:center;
	width: 25%;
	height: 50%;
	border-radius: 5px;
	padding: 6px 6px;
	box-shadow: 1px 1px 4px #666
	
}

 form {
 	display:flex;
 	position:relative;
 	flex-direction:column;
	width: 100%;
	
	padding: 30px 0%;
	
}

div{
	position: relative;
	display: flex;
	flex-direction: column;
}

p{
	text-align: center;
	color: red;
}

h2{
	width:12%;
	margin-bottom:20px;
	border-bottom-color: black;
	border-bottom-style: solid;
	border-bottom-width: 5px;
	border-spacing: 5px;
	
}

.div-cadastro{
	position: relative;
	text-align: center;
	top: 10px;
}

div#emailHelp{
	color:#fff;
}
button {
	text-transform: uppercase;
	letter-spacing: 5px;
	font-weight: bolder;
}


@media (max-width: 720px) {
	div.main{
		width: 100%;
		height: 100%;
	}
	
	form{
		width: 100%;
		height: 100%;
	}
}

@media (min-width: 721px) and (max-width: 1080px) {
     div.main{
		width: 80%;
		height: 80%;
	}
}
