@charset "ISO-8859-1";

div.pcoded-inner-content{
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
}


div.card{
	width: 80%;
}

p#msg{
	color: red;
}



